@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #5bbcf5;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: black;
  padding: 18px 40px;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  
}

li a.active {
  color: white;
}

li a:hover:not(.active) {
  background-color: black;
  color: white;
}
body,h1,h2,h3,h4 {
  font-family: "Poppins";}
  
h1 {
  background-color: powderblue;
  font-size: 30px
  
}

h2 {
  font-size: 18px
  
}
  
body {font-size:14px;}

img {
   display: block;
   margin-left: auto;
   margin-right: auto;

}

